@{
  Layout = "_Layout";
}
<div class="home">

<h1 class="text-light">Welcome To The Factory Site</h1>
<div class="links"> 
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p> <p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p> 
</div>
<div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
</div>